<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conditions Générales d'Utilisation de Pysean</title>
    <link rel="icon" href="static/img/logo.png" type="image/png">
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 20px;
        }

        h1 {
            text-align: center;
            color: #007BFF;
        }

        h2 {
            margin-top: 20px;
            color: #007BFF;
        }

        h3 {
            margin-top: 15px;
            color: #007BFF;
        }

        p {
            margin-bottom: 15px;
        }

        ul {
            list-style-type: decimal;
            margin-left: 20px;
        }

        a {
            color: #007BFF;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        code {
            background-color: #f8f9fa;
            padding: 2px 5px;
            border: 1px solid #dae0e5;
            border-radius: 4px;
        }
    </style>
</head>

<body>

    <h1>Conditions Générales d'Utilisation de Pysean</h1>

    <h2>1. Introduction</h2>
    <p>Bienvenue sur Pysean (le "Service"), fourni par Pysean ("nous", "notre", "nos"). Le Service offre des simulations
        d'attaques phishing pour aider les entreprises à évaluer et à améliorer leur sécurité informatique. En accédant
        ou en utilisant le Service, vous (le "Client") acceptez d'être lié par ces Conditions Générales d'Utilisation
        (CGU).</p>

    <h2>2. Définitions</h2>
    <ul>
        <li><strong>Client</strong>: réfère à toute entreprise ou organisation qui s'abonne au Service Pysean. Cette
            désignation inclut l'entité elle-même ainsi que ses agents, employés, ou toute personne agissant en son nom
            ou sous son autorité.</li>
        <li><strong>Exercice de Phishing</strong>: désigne les activités menées par Pysean qui visent à simuler des
            attaques de phishing dans un environnement contrôlé. Ces exercices sont conçus pour évaluer et renforcer la
            sensibilisation et la préparation des employés du Client face aux menaces de phishing réelles. Ils ne sont
            pas de véritables attaques, mais des scénarios fictifs élaborés à des fins éducatives et de formation.</li>
        <li><strong>Utilisateur Final</strong>: indique les employés, agents, ou représentants du Client qui sont les
            sujets ciblés des Exercices de Phishing. Ces individus interagissent directement avec les scénarios de
            phishing durant l'exercice, sans nécessairement être informés à l'avance de leur participation à cet
            exercice.</li>
    </ul>

    <h2>3. Conditions d'Utilisation</h2>
    <p>Le Service est exclusivement destiné aux entités commerciales et à leurs employés.</p>
    <p>Compte tenu de la nature "surprise" des exercices de Phishing, le Client n'est pas tenu d'informer ou
        d'obtenir le consentement préalable des Utilisateurs Finaux avant leur participation à ces simulations. Toutefois,
        le Client s'engage à respecter toutes les lois et réglementations applicables, notamment en matière de protection
        des données et de vie privée des employés.</p>
    <p>Le Client garantit qu'il respecte les réglementations du pays où les simulations sont menées, ainsi que le cadre
        de ses politiques internes.</p>

    <h2>4. Propriété Intellectuelle</h2>
    <h3>a) Droits de Propriété</h3>
    <p>Tous les matériaux, contenus, méthodologies, logiciels, designs, marques, logos, et tout autre matériel
        intellectuel fourni ou rendu accessible dans le cadre du Service sont la propriété exclusive de Pysean, ou sont
        utilisés sous licence accordée à Pysean par des tiers. Ceci inclut, mais n'est pas limité à, toutes les
        simulations, scénarios, et feedbacks relatifs aux exercices de Phishing.</p>
    <h3>b) Usage Autorisé</h3>
    <p>Ces éléments sont protégés par des lois sur les droits d'auteur, les marques déposées, et/ou d'autres lois
        relatives à la propriété intellectuelle. Le Client est autorisé à utiliser ces matériaux uniquement dans le cadre
        des services fournis par Pysean. Toute reproduction, distribution, modification, adaptation, ou utilisation de
        ces matériaux à des fins autres que celles explicitement autorisées par Pysean est strictement interdite.</p>
    <h3>c) Droits des Tiers</h3>
    <p>Certaines parties du Service peuvent inclure des matériaux appartenant à des tiers et utilisés sous licence.
        Ces matériaux sont soumis aux droits et restrictions de leurs propriétaires respectifs.</p>
    <h3>d) Protection des Droits</h3>
    <p>Pysean se réserve le droit d'engager des actions en justice pour protéger ses droits de propriété intellectuelle
        et ceux de ses licenciés. Le Client s'engage à ne pas poser d'actes susceptibles de porter atteinte aux droits
        de propriété intellectuelle de Pysean ou de tiers.</p>

    <h2>5. Utilisation du Service</h2>
    <h3>a) Objectif de l'Utilisation</h3>
    <p>Le Client s'engage à utiliser le Service fourni par Pysean exclusivement pour des objectifs de formation et de
        sensibilisation à la sécurité informatique au sein de son organisation. Cela inclut l'utilisation des exercices de
        Phishing pour évaluer et améliorer les compétences et la vigilance des Utilisateurs Finaux face aux risques de
        phishing.</p>
    <h3>b) Restrictions d'Utilisation</h3>
    <p>Le Service ne doit en aucun cas être utilisé pour des activités illégales, malveillantes, ou pour tout autre
        objectif qui serait en contradiction avec les principes de bonne foi et d'éthique professionnelle comme le
        détournement des exercices de Phishing pour le harcèlement d'employés ou la diffusion de faux rapports. Cela
        inclut également, mais n'est pas limité à, l'interdiction de reproduire, modifier, distribuer, vendre ou utiliser
        le Service ou tout composant de celui-ci à des fins commerciales autres que celles stipulées dans le présent
        accord.</p>
    <h3>c) Responsabilité en cas d'Abus</h3>
    <p>En cas de détournement du Service pour des activités non autorisées ou nuisibles, le Client sera tenu
        responsable de tout dommage ou préjudice résultant de cet abus. Pysean se réserve le droit de suspendre ou de
        résilier l'accès au Service en cas de violation avérée de cette clause, sans préjudice de son droit de réclamer
        des dommages-intérêts pour toute perte subie.</p>
    <h3>d) Conformité aux Lois</h3>
    <p>Le Client s'engage à utiliser le Service en conformité avec toutes les lois et réglementations applicables,
        notamment celles relatives à la protection des données, à la vie privée, et aux droits de l'homme.</p>
    <h3>e) Notification d'Incidents</h3>
    <p>Le Client est tenu d'informer immédiatement Pysean en cas de découverte d'une utilisation inappropriée du
        Service par ses employés ou tout autre utilisateur autorisé.</p>

    <h2>6. Responsabilité et Indemnisation</h2>
    <p>Pysean ne sera pas responsable des dommages résultant de l'utilisation incorrecte du Service. Le Client s'engage
        à indemniser Pysean contre toute réclamation découlant de l'utilisation du Service. Le Client s'engage à indemniser
        Pysean contre les réclamations découlant de l'utilisation non conforme du Service, comme la violation des droits
        de propriété intellectuelle d'un tiers.</p>

    <h2>7. Confidentialité et Sécurité des Données</h2>
    <p>Nous nous engageons à protéger la confidentialité des données du Client et des Utilisateurs Finaux conformément
        à notre Politique de Confidentialité. Nous formons régulièrement notre personnel sur les meilleures pratiques en
        matière de confidentialité et de sécurité des données pour assurer une protection optimale.</p>
    <p>Pysean s'engage à maintenir la confidentialité de toutes les informations et données fournies par le Client dans
        le cadre de l'utilisation de son Service. Cet engagement comprend la non-divulgation des informations sensibles,
        commerciales, financières, techniques, ou autres données confidentielles.</p>
    <p>La confidentialité couvre toutes les informations échangées entre le Client et Pysean, y compris, mais sans s'y
        limiter, les détails des exercices de Phishing, les résultats, les rapports, les données utilisateur, et toute
        communication écrite ou orale.</p>
    <p>L'obligation de confidentialité demeurera en vigueur pendant toute la durée du contrat et se poursuivra après sa
        résiliation pour une période de 5 ans.</p>
    <p>L'obligation de confidentialité ne s'applique pas aux informations qui sont ou deviennent publiquement
        disponibles sans faute de Pysean, ou qui sont développées indépendamment par Pysean sans utilisation des
        informations confidentielles du Client.</p>

    <h2>8. Protection des Données Personnelles</h2>
    <h3>a) Pour les Sociétés Clients</h3>
    <p><strong>Finalité et Base Juridique</strong>: Nous traitons les données personnelles des représentants des
        sociétés clientes pour fournir et gérer le Service. Ce traitement est basé sur le consentement.</p>
    <p><strong>Type de Données et Conservation</strong>: Nous collectons des informations telles que les noms,
        adresses e-mail professionnelles, et numéros de téléphone, conservées pendant la durée de l'exercice de Phishing
        et aussi longtemps que nécessaire pour les obligations contractuelles et légales.</p>
    <h3>b) Pour les Utilisateurs Finaux des Sociétés</h3>
    <p><strong>Anonymisation et Rapports</strong>: Les données personnelles des utilisateurs finaux sont anonymisées.
        Aucune donnée personnelle sur les utilisateurs finaux n’est conservée. Les rapports de simulation sont basés sur
        des données anonymisées et agrégées pour assurer la confidentialité.</p>
    <p><strong>Sécurité des Données</strong>: Des mesures de sécurité sont en place pour protéger contre l'accès non
        autorisé, la modification, la divulgation ou la destruction des données.</p>
    <h3>c) Droits des Personnes Concernées</h3>
    <p>Les personnes concernées ont le droit d'accéder à leurs données, de les rectifier, de demander leur effacement ou
        de limiter leur traitement. Elles peuvent retirer leur consentement à tout moment.</p>
    <h3>d) Contact et Réclamations</h3>
    <p>Pour exercer vos droits ou toutes questions ou préoccupations relatives à vos données personnelles, contactez
        notre Délégué à la Protection des Données à <a href="mailto:soso.groin@pysean.fr">soso.groin@pysean.fr</a> Les
        plaintes peuvent être adressées à l'autorité de contrôle compétente :</p>
    <ul>
        <li>Sur le site web de la <a href="https://www.cnil.fr/">CNIL</a></li>
        <li>Par courrier postal : CNIL - Service des Plaintes - 3 Place de Fontenoy - TSA 80715 - 75334 PARIS CEDEX 07.
        </li>
    </ul>

    <h2>9. Modification des CGU</h2>
    <p>Pysean se réserve le droit de modifier ces CGU à tout moment pour refléter les changements dans nos services, les
        lois, ou pour d'autres raisons pertinentes.</p>
    <p>En cas de modifications substantielles, le Client sera informé par e-mail ou via une notification sur le Service.
        Les modifications seront communiquées au Client au moins 30 jours avant leur prise d'effet, sauf en cas d'urgence
        légale ou de sécurité.</p>
    <p>La poursuite de l'utilisation du Service après ces changements constituera une acceptation des nouvelles CGU.</p>

    <h2>10. Résiliation</h2>
    <p>Le Service peut être résilié par le Client ou Pysean en respectant un préavis écrit de 30 jours.</p>
    <p>À la résiliation, le Client doit cesser toute utilisation du Service et toutes les données client stockées par
        Pysean seront supprimées ou rendues anonymes, conformément à notre politique de confidentialité.</p>

    <h2>11. Juridiction</h2>
    <p>Ces CGU sont régies par le droit français.</p>
    <p>Tout litige relatif à ces CGU, leur interprétation ou leur exécution, sera de la compétence exclusive des tribunaux
        de Paris.</p>

    <h2>12. Contact</h2>
    <p>Pour toute question ou demande d'assistance, veuillez contacter notre équipe de support à <a
            href="mailto:support@pysean.com">support@pysean.com</a></p>
    <p>Notre équipe de support est disponible du lundi au vendredi, de 12h00 à 12h01 (heure de Paris) et s'efforce de
        répondre aux demandes dans les plus brefs délais.</p>

</body>

</html>